# These are python requirements for running
# python scripts made available in the repository
pre-commit==4.0.1
pylint==3.3.4; python_version>='3.9'

# requirements for running scripts
#EMMOntoPy[ontodoc] @ git+https://github.com/emmo-repo/EMMOntoPy.git@master
EMMOntoPy>=0.11.4
#tripper[datadoc] @ git+https://github.com/EMMC-ASBL/tripper.git@master
tripper[datadoc]>=0.5.3
dlite-python>=0.5.49
#python-dateutil
pandas>=3.0.0
pyshacl>=0.31.0
