name: Deploy on GitHub Pages
on: push
#on:
#  push:
#    branches: [main]

env:
  ONTOLOGY_NAME: pink_annotation_schema
  ONTOLOGY_IRI: https://w3id.org/pink/pink_annotation_schema

permissions:
  contents: write


jobs:
  deploy-on-ghpages:
    #concurrency: ci-${{ github.ref }}  # Recommended if you intend to make multiple deployments in quick succession.
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install EMMOntoPy
      run: |
        pip install --upgrade pip
        pip install git+https://github.com/emmo-repo/EMMOntoPy.git@master

    - name: Install Tripper
      run: |
        pip install tripper[datadoc]
        pip install -U git+https://github.com/EMMC-ASBL/tripper.git@master

    - name: Copy documentation to gh-pages
      run: |
        mkdir -p build
        cp -r docs/ build/.

    - name: Create dependencies, squashed and inferred ontologies
      run: |
        cp README.md build/.
        ontoconvert \
            -saw \
            --base-iri="${ONTOLOGY_IRI}#" \
            --iri="${ONTOLOGY_IRI}" \
            ${ONTOLOGY_NAME}.ttl \
            build/${ONTOLOGY_NAME}.ttl
        ontoconvert \
            -saw \
            --base-iri="${ONTOLOGY_IRI}#" \
            --iri="${ONTOLOGY_IRI}" \
            --infer=HermiT \
            ${ONTOLOGY_NAME}.ttl \
            build/${ONTOLOGY_NAME}-inferred.ttl

    - name: Create markdown documentation of keywords
      run: keywords \
        --input pink_annotation_schema.ttl \
        --keywords=build/keywords.md \
        --redefine=allow

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: build
        branch: gh-pages
        clean: false
        single-commit: true
